#
# ENVIRONMENT VARIABLES.
#

# Node environment.
NODE_ENV=

# App Name.
APP_NAME=

# App version.
APP_VERSION=

# Port it listens to.
# Remember that non root users in docker won't be able to user lower ports, so you could try 3000, 8080, etc.
PORT=

# URL where the api works. Vg: /some-location/some-sublocation/ (do not forget slashes at both sides).
# It's needed for swagger documentation.
API_URL=

# Returns if you must use graphiql. Set "1" for true.
API_USE_GRAPHIQL= 

# If logs should be inserted into persisted/logs.log or not ("1" for true).
# You should enable this if you run npm start or npm run pm2... But not with docker.
LOGS_IN_FILE=

# Base level of logs (One of 'silly', 'debug', 'verbose', 'http', 'info', 'warn', 'error').
LOGS_LEVEL=

# Contains the TZ UTC: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=America/Argentina/Buenos_Aires

#
# SECURITY CONFIG.
#

# If it will JWT or API KEY auth.
# If its value is 1, it will use JWT token with JWT_SECRET. Otherwise it will ask for the API KEY.
JWT_USE=

# Secret for the JWT authentication.
# Only if JWT_USE is 1
JWT_SECRET=

# JWT Algorithm that will be used.
# Only if JWT_USE is 1
JWT_ALGORITHM=

# API KEY
# Only if JWT_USE is different from 1
API_KEY=

#
# SSL CONFIG.
# 

# If the service must use SSL ("1" for true).
SSL_MUST_USE=

# Path to SSL cert.
SSL_CERT_PATH=

# Path to SSL key.
SSL_KEY_PATH=

#
# SQL CONFIG.
#

# SQL HOST.
SQL_HOST=

# Database name.
SQL_DATABASE=

# Database username.
SQL_USERNAME=

# Database password.
SQL_PASSWORD=

# Sequelize dialect (mariadb, mysql, sqlite, postgres, etc)
SQL_DIALECT=

# Storage para sqlite.
#SQL_STORAGE=

# 
# MONGO
#

# URL containing the URL to mongo.
MONGO_URL=

# Mongo username.
MONGO_USER=

# Mongo password
MONGO_PASSWORD=

#
# REDIS
#

# URL containing all the information (user, password, etc) to redis.
REDIS_URL=

# Prefix to add to all entries.
REDIS_PREFIX=

#
# CALLMEBOT SERVICE.
#

# Phone number that will receive the whatsapp.
CALLMEBOT_NUMBER=

# APikey for callmebot number.
CALLMEBOT_APIKEY=

